footer{
  width: 100%;
  height: 200px;
  background-image: linear-gradient(rgb(49, 56, 50), rgb(23, 25, 39));
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 500px;
}

.icons ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}


.icons ul li{
  /* margin-right: 30px; */
  font-size: 50px;
  transition: 2s;
  color: #C92F4C;
}

a{
  color: #C92F4C;
}

.icons ul li:hover{
  /* margin-right: 30px; */
  transform: rotate(360deg);
  cursor: pointer;
}

footer p{
  text-align: center;
  color: #fff;
}

footer p span{
  font-weight: bold;
  color: #C92F4C;
}
